@page "/test"
@using DiplomaProject.Services
@using DiplomaProject.Models
@inject TestService TestService
@rendermode InteractiveServer
<h3>TestPage</h3>


@for (int t = 0; t < tests.Count; t++)
{
    var tIndex = t;

    <div>
        <h4>@tests[tIndex].TaskDescription</h4>

        <ul>
           
            @for (int i = 0; i < tests[tIndex].TaskAnswers.Count; i++)
            {
                var iIndex = i;

                <li>
                    <input type="checkbox"
                           checked="@selected[tIndex][iIndex]"
                           @onchange="e => selected[tIndex][iIndex] = (bool)e.Value" />
                    
                    @tests[tIndex].TaskAnswers[iIndex]
                </li>
            }
        </ul>
    </div>
}
}
<button class="btn btn-primary" @onclick="HandleClick">
    Check your answers
</button>

@if (showResult)
{
    <h4>Result: @score / @tests.Count</h4>
}


@code {
    List<TestInfo> tests;
    List<List<bool>> selected;

    protected override void OnInitialized()
    {
        tests = TestService.GetSampleTests();

        selected = new List<List<bool>>();

        foreach (var test in tests)
        {
            var list = new List<bool>();

            foreach (var answer in test.TaskAnswers)
            {
                list.Add(false);
            }

            selected.Add(list);
        }
    }


    int score = 0;
    bool showResult = false; 
    private void HandleClick()
    {
        score = 0;
        
        for (int t = 0; t < tests.Count; t++)
        {
            bool isCorrect = true;

            for (int i = 0; i < tests[t].TaskAnswers.Count; i++)
            {
                bool mustBeChecked = TestService.CheckAnswer(t, i);

                if (selected[t][i] != mustBeChecked)
                {
                    isCorrect = false;
                    break;
                }
            }

            if (isCorrect)
                score++;
        }

        showResult = true;
    }
}